name: mail-server

services:
  dns:
    image: ghcr.io/cristianpvp/mail-dns:latest
    container_name: dns-server
    hostname: ns.isrv.test
    networks:
      isrv-net:
        ipv4_address: 192.168.57.10
    restart: always

  # 2. Servidor Postfix (MTA)
  postfix:
    build:
      context: ./Dockerfiles/postfix
      dockerfile: Dockerfile
    container_name: postfix-server
    hostname: postfix.isrv.test
    depends_on:
      - dns
    networks:
      isrv-net:
        ipv4_address: 192.168.57.11
    volumes:
      - mail-data:/home 
    restart: always

  # 3. Servidor Dovecot (MDA/IMAP)
  dovecot:
    build:
      context: ./Dockerfiles/dovecot
      dockerfile: Dockerfile
    container_name: dovecot-server
    hostname: dovecot.isrv.test
    depends_on:
      - dns
    networks:
      isrv-net:
        ipv4_address: 192.168.57.12
    volumes:
      - mail-data:/home
    restart: always

networks:
  isrv-net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.57.0/24

volumes:
  mail-data:
    driver: local